* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* FONTES 
    font-family: 'Inter', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Roboto', sans-serif;

    PALETA DE CORES
*/

header h1 {
    background-color: blueviolet;
    font-family: 'Inter', sans-serif;
    padding: 40px 0px;
    text-align: center;
}

header nav {
    background-color: aquamarine;
    padding: 6px 0px;
    text-align: center;
}

header nav li {
    background-color: azure;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

main {
    margin: auto;
    max-width: 80%;
}

.facts h2 {
    background-color: bisque;
}