* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* FONTES 
    font-family: 'Inter', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Roboto', sans-serif;

    PALETA DE CORES
*/

body {
    background-color: aliceblue;
}

header h1 {
    background-color: blueviolet;
    padding: 50px 0px 10px 0px;
    font-family: 'Inter', sans-serif;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 20%);
}

header h2 {
    background-color: blueviolet;
    padding-bottom: 30px;
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 0px rgb(0 0 0 / 20%);
}

header nav {
    background-color: aquamarine;
    padding: 6px 0px;
    text-align: center;
}

header nav li {
    background-color: azure;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

header nav a {
    text-decoration: none;
    font-weight: 600;
}

header nav a:hover {
    transition-duration: 0.2s;
    color: green;
}

main {
    background-color: brown;
    margin: auto;
    max-width: 60%;
}

.facts h2 {
    background-color: bisque;
    margin-left: 10px;
    padding: 10px 0px;
}

.facts h3 {
    background-color: darkkhaki;
    margin-left: 30px;
    padding: 10px 0px;
}

.facts p {
    background-color: dimgrey;
    padding-left: 30px;
    margin-right: 15px;
    text-indent: 15px;
    text-align: justify;
}

.facts table {
    float: right;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-left: 18px;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

.facts table caption {
    font-weight: 600;
    text-align: center;
}

.punch {
    width: 250px;
    float: left;
    margin-left: 30px;
    padding-right: 15px;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 20%);
}

.eyes {
    width: 200px;
    float: right;
    margin-right: 15px;
    padding-left: 15px;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 20%);
}

.bibliographic-references {
    background-color: aqua;
    margin: auto;
    max-width: 60%;
    padding-bottom: 10px;
}

.bibliographic-references h3 {
    background-color: bisque;
    margin-left: 10px;
    padding: 10px 0px;
}

.bibliographic-references ul {
    background-color: dimgrey;
    margin-left: 45px;
    margin-right: 15px;
}

a:hover {
    font-weight: 600;
}

footer {
    background-color: darkgoldenrod;
    padding: 20px 0px 10px 0px;
    text-align: center;
}

.back-to-top {
    padding-bottom: 10px;
}

.back-to-top a {
    padding-bottom: 10px;
}