* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* FONTES 
    font-family: 'Inter', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Roboto', sans-serif;

    PALETA DE CORES
*/

body {
    background-color: aliceblue;
}

header h1 {
    background-color: blueviolet;
    font-family: 'Inter', sans-serif;
    padding: 40px 0px;
    text-align: center;
}

header nav {
    background-color: aquamarine;
    padding: 6px 0px;
    text-align: center;
}

header nav li {
    background-color: azure;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

main {
    background-color: brown;
    margin: auto;
    max-width: 60%;
}

.facts h2 {
    background-color: bisque;
    margin-left: 10px;
    padding: 10px 0px;
}

.facts h3 {
    background-color: darkkhaki;
    margin-left: 30px;
    padding: 10px 0px;
}

.facts p {
    background-color: dimgrey;
    text-indent: 15px;
}

.facts table {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

.facts table caption {
    font-weight: 600;
    text-align: center;
}

.table-row-left {
    padding-left: 30px;
    padding-right: 15px;
}